@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

/* Reset */

html,
body,
div,
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}
body {
  -ms-overflow-style: scrollbar;
}
@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}
body {
  background: #f4f4f4;
}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Type */
body {
  background-color: #f4f4f4;
  color: #666666;
}
body,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 200;
  line-height: 1.65;
}
@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 360px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}
a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
}
a:hover {
  border-bottom-color: transparent;
}
strong,
b {
  font-weight: 400;
}
em,
i {
  font-style: italic;
}
p {
  margin: 0 0 2em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.7em;
}
@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }
}
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}
blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}
code {
  border-radius: 4px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}
pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}
hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2em 0;
}
hr.major {
  margin: 3em 0;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
input,
select,
textarea {
  color: #444444;
}
a {
  color: inherit;
}
a:hover {
  color: #ef6480 !important;
}
strong,
b {
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
blockquote {
  border-left-color: #666666;
}
code {
  background: rgba(144, 144, 144, 0.075);
  border-color: #666666;
}
hr {
  border-bottom-color: #666666;
}
#four {
  padding-left: 326px;
  text-align: justify;
}

/* Box */
.box {
  border-radius: 4px;
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.box {
  border-color: #666666;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 2em 0 2.375em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.325em;
  font-size: 0.725em;
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 0.8em;
  padding: 0 2.5em 0 2.875em;
  height: 3.75em;
  line-height: 3.75em;
}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}
@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #666666;
  color: #444444 !important;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  color: #ef6480 !important;
  box-shadow: inset 0 0 0 2px #ef6480;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: rgba(239, 100, 128, 0.15);
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  color: #999999;
}

/* Form */
form {
  margin: 0 0 2em 0;
}
label {
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}
.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}
.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.select-wrapper:before {
  content: '\f078';
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}
.select-wrapper select::-ms-expand {
  display: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}
textarea {
  padding: 0.75em 1em;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 200;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: '\f00c';
}
input[type="checkbox"] + label:before {
  border-radius: 4px;
}
input[type="radio"] + label:before {
  border-radius: 100%;
}
::-webkit-input-placeholder {
  opacity: 1.0;
}
:-moz-placeholder {
  opacity: 1.0;
}
::-moz-placeholder {
  opacity: 1.0;
}
:-ms-input-placeholder {
  opacity: 1.0;
}
.formerize-placeholder {
  opacity: 1.0;
}
label {
  color: #444444;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: #666666;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #ef6480;
  box-shadow: 0 0 0 1px #ef6480;
}
.select-wrapper:before {
  color: #666666;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #666666;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: #666666;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #ef6480;
  border-color: #ef6480;
  color: #ffffff;
}
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #ef6480;
  box-shadow: 0 0 0 1px #ef6480;
}
::-webkit-input-placeholder {
  color: #999999 !important;
}
:-moz-placeholder {
  color: #999999 !important;
}
::-moz-placeholder {
  color: #999999 !important;
}
:-ms-input-placeholder {
  color: #999999 !important;
}
.formerize-placeholder {
  color: #999999 !important;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon > .label {
  display: none;
}
.icon.major {
  display: block;
  margin: 0 0 1.5em 0;
}
.icon.major:before {
  cursor: default;
  font-size: 2.5rem;
  box-shadow: inset 0 0 0 2px #666666;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  display: inline-block;
  border-radius: 100%;
  color: #666666;
}
@media screen and (max-width: 736px) {
  .icon.major:before {
    font-size: 2rem;
  }
}
/* Image */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 4px;
  display: block;
}
.image.left,
.image.right {
  max-width: 40%;
}
.image.left img,
.image.right img {
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}
.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.image.main img {
  width: 100%;
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}
ol li {
  padding-left: 0.25em;
}
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
ul li {
  padding-left: 0.5em;
}
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
ul.icons li:last-child {
  padding-right: 0;
}
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
ul.actions li:last-child {
  padding-right: 0;
}
ul.actions.small li {
  padding: 0 0.5em 0 0;
}
ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
ul.actions.vertical li:first-child {
  padding-top: 0;
}
ul.actions.vertical li > * {
  margin-bottom: 0;
}
ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}
ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
ul.actions.fit li > * {
  margin-bottom: 0;
}
ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}
ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}
dl {
  margin: 0 0 2em 0;
}
dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1em 0;
}
dl dd {
  margin-left: 2em;
}
ul.alt li {
  border-top-color: #666666;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
table {
  margin: 0 0 2em 0;
  width: 100%;
}
table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}
table td {
  padding: 0.75em 0.75em;
}
table th {
  font-size: 0.9em;
  font-weight: 400;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}
table thead {
  border-bottom: solid 2px;
}
table tfoot {
  border-top: solid 2px;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}
table tbody tr {
  border-color: #666666;
}
table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}
table th {
  color: #444444;
}
table thead {
  border-bottom-color: #666666;
}
table tfoot {
  border-top-color: #666666;
}
table.alt tbody tr td {
  border-color: #666666;
}

/* Item */
.item {
  padding: 3em 3em 1em 3em;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
}
.item header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: -3em 0 3em -3em;
  width: calc(100% + 6em);
  height: 15em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: #444;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  overflow: hidden;
}
.item header input,
.item header select,
.item header textarea {
  color: #ffffff;
}
.item header a {
  color: inherit;
}
.item header a:hover {
  color: #ef6480 !important;
}
.item header strong,
.item header b {
  color: #ffffff;
}
.item header h1,
.item header h2,
.item header h3,
.item header h4,
.item header h5,
.item header h6 {
  color: #ffffff;
}
.item header blockquote {
  border-left-color: #ffffff;
}
.item header code {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
}
.item header hr {
  border-bottom-color: #ffffff;
}
.item header a {
  -moz-transition: -moz-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  -ms-transition: -ms-transform 0.2s ease;
  transition: transform 0.2s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.item header a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("images/default.jpg");
}
.item header:hover a {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.item header > * {
  position: relative;
  z-index: 1;
}
.item header h3 {
  margin: 0;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
.items {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 2em);
  margin: -2em 0 0 -2em;
}
.items .item {
  margin: 2em 0 0 2em;
  width: calc(50% - 2em);
}
@media screen and (max-width: 980px) {
  .item header {
    height: 25em;
  }
  .items {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
  }
  .items .item {
    width: 100%;
    margin: 0 0 2em 0;
  }
  .items .item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 736px) {
  .item header {
    height: 15em;
  }
  .items .item {
    margin: 0 0 1em 0;
  }
}
@media screen and (max-width: 480px) {
  .item {
    padding: 2em 1em 0.1em 1em;
  }
  .item header {
    height: 12em;
    margin: -2em 0 2em -1em;
    width: calc(100% + 2em);
  }
}

/* Wrapper */
#wrapper {
  width: 64em;
  margin: 0 auto;
  max-width: calc(100% - 4em);
  padding: 4em 0 2em 0;
}
#wrapper > .main {
  margin-bottom: 4em;
}
@media screen and (max-width: 980px) {
  #wrapper {
    padding: 2em 0 2em 0;
  }
  #wrapper > .main {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 736px) {
  #wrapper {
    max-width: calc(100% - 2em);
    padding: 1em 0 0.1em 0;
  }
  #wrapper > .main {
    margin-bottom: 1em;
  }
}

/* Header */
#header {
  background-color: #444;
  color: rgba(255, 255, 255, 0.75);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8em 0 6em 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  cursor: default;
}
#banner {
  text-align: center;
  height: 300px;
  padding-top: 88px;
  position: relative;
  top: -20px;
  background-image: url("images/default.jpg");
}
#header input,
#header select,
#header textarea {
  color: #ffffff;
}
#header a {
  color: inherit;
}
#header a:hover {
  color: #ef6480 !important;
}
#header strong, #header b {
  color: #ffffff;
}
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
  color: #ffffff;
}
#header blockquote {
  border-left-color: #ffffff;
}
#header code {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
}
#header hr {
  border-bottom-color: #ffffff;
}
#header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("images/overlay.png");
}
#header h1 {
  margin-bottom: 0.5em;
}
#header .inner {
  position: relative;
  z-index: 1;
}
#header.alt {
  height: 20em;
  min-height: 20em;
  min-height: 75vh;
}
#header.alt:before {
  -moz-transition: background-color 3s ease;
  -webkit-transition: background-color 3s ease;
  -ms-transition: background-color 3s ease;
  transition: background-color 3s ease;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
#header.alt h1 {
  font-size: 4em;
  padding: 0 0.5em 0.25em 0.5em;
  border-bottom: solid 2px #ffffff;
  font-weight: 200;
  font-family: "Pacifico", cursive;
  text-transform: none;
  letter-spacing: 0;
}
#header.alt p {
  text-transform: uppercase;
  letter-spacing: 0.325rem;
  font-weight: 400;
  font-size: 0.8em;
  padding: 0 1.25em;
}
#header.alt .inner {
  -moz-transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  transition: opacity 2s ease;
  opacity: 1;
}
body.is-loading #header.alt:before {
  background-color: black;
}
body.is-loading #header.alt .inner {
  opacity: 0;
}
@media screen and (max-width: 1280px) {
  #header {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 736px) {
  #header {
    padding: 4em 2em 2em 2em;
  }
  #header.alt h1 {
    font-size: 2.5em;
    padding-left: 0;
    padding-right: 0;
  }
  #header.alt p {
    padding: 0;
  }
  #header.alt .inner {
    max-width: 20em;
  }
}

/* Main */
#main {
  padding: 5em 4em 2em 4em;
  background-color: #ffffff;
  border-radius: 4px;
}
#main > header:first-child {
  text-align: center;
}
@media screen and (max-width: 736px) {
  #main {
    padding: 2em 2em 0.1em 2em;
  }
}
@media screen and (max-width: 480px) {
  #main {
    padding: 2em 1em 0.1em 1em;
  }
}

/* Intro */
#intro {
  padding: 4em 4em 2em 4em;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
}
@media screen and (max-width: 736px) {
  #intro {
    padding: 2em 2em 0.1em 2em;
  }
}
@media screen and (max-width: 480px) {
  #intro {
    padding: 2em 1em 0.1em 1em;
  }
  #intro p br {
    display: none;
  }
}

/* CTA */
#cta {
  padding: 2em 0 0.1em 0;
  text-align: center;
}
@media screen and (max-width: 736px) {
  #cta {
    padding: 2em 2em 0.1em 2em;
  }
}
@media screen and (max-width: 480px) {
  #cta {
    padding: 2em 1em 0.1em 1em;
  }
  #cta p br {
    display: none;
  }
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 4em;
}
#footer a {
  color: inherit;
}
#footer:before {
  content: '';
  display: inline-block;
  width: 6em;
  height: 2px;
  background-color: #666666;
  margin-bottom: 4em;
}
#footer .copyright {
  font-size: 0.8em;
}
@media screen and (max-width: 736px) {
  #footer {
    margin-top: 2em;
  }
  #footer:before {
    margin-bottom: 2em;
  }
}
li.node-readmore {
  position: absolute;
  top: unset;
  transform: translate(88%, 1107%);
  list-style-type: none;
}
.views-view-grid.vertical.cols-2.clearfix {
  margin-left: 65px;
}
.views-view-grid .views-row {
  clear: both;
  float: left;
  width: 100%;
  padding-bottom: 50px;
}
#textsummary {
  top: 9px;
  left: -78px;
  text-align: justify;
  margin-right: 100px;
}
#four {
  padding-left: 59px;
  text-align: -webkit-center;
  padding-right: 379px;
  padding-top: 3px;
}
.pagetitle {
  top: -97px;
}
.row1.row2 {
  width: 561px;
  height: 584px;
}

li.comment-add {
  display: none;
}
.copyright {
  list-style-type: none;
  display: inline-flex;
  padding: 34px;
}
a.feed-icon {
  display: none;
}
.row {
  -webkit-padding-after: 78px;
  margin-right: -5px;
  margin-left: -15px;
}
.major {
  text-align: center;
  width: 335px;
}
#homenode {
  position: relative;
  top: 50px;
  padding-left: 73px;
}
nav#nav {
  position: relative;
  top: 89px;
  color: #ffffff;
  display: inline;
  list-style-type: none;
  padding-left: 400px;
}
.liststyle {
  list-style-type: none;
  color: #ece9e9;
  display: flex;
  margin: 0px;
  position: relative;
  top: -260px;
  padding-left: 550px;
}
.nodetitle {
  position: relative;
  top: 184px;
  width: 500px;
  text-align: center;
  color: white;
}
.contextual-region {
  top: -39px;
}
.views-view-grid .views-col {
  float: left;
  padding-top: 50px;
}
header.major.special {
  width: 900px;
  text-align: left;
  padding-left: 13px;
}
#textalign img {
  float: left;
  padding-right: 19px;
  padding-bottom: 21px;
}
#comments h2 {
  padding-right: 210px;
  text-indent: left;
  margin-right: 400px;
}
.columnwidth {
  width: 480px;
}
li.node-readmore a {
  text-decoration: none;
}
.homedescription {
  margin: 12px;
  text-align: justify;
}
div.nodetitle a {
  text-decoration: none;
}
section#four a {
  text-decoration: none;
}
#imageopacity:hover img {
  transform: scale(1.05);
  transition: .6s ease;
  width: 480px;
  height: 320px;
  background-position: center;
  display: block;
}
ul.useraccount {
  position: absolute;
  top: -1942px;
  list-style-type: none;
  right: 8px;
  left: 992px;
}
img.logo-front-pos {
  width: 50px;
  position: relative;
  left: -53px;
  top: 26px;
}
div#myNavbar {
  margin-top: 57px;
}
.site-name-front-pos {
  position: relative;
  top: -30px;
  border-bottom: none;
}
.navbar-default .navbar-nav>li>a {
  color: #777;
  border-bottom: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
  border-bottom: none;
}
ul.copyright li a {
  border-bottom: none;
}
.row {
  text-align: center;
}
#main {
  margin-top: 42px;
}
.welcome-sec {
  width: 382px;
  margin-left: 330px;
}
