<!-- Header -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      {% if site_logo %}
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-front-pos" />
      {% endif %}
      <h1>
        <strong><a href="{{ path('<front>') }}" class="navbar-brand site-name-front-pos">{{ site_name }}</a></strong>
      </h1>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-right nav-menu">
         {{ main_nav }}
      </ul>
    </div>
  </div>
</nav>

<!--Main -->
<section id="main">
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li>
        <a href="{{ epilogue_theme_facebook }}" class="icon fa-facebook"></a>
      </li>
      <li>
        <a href="{{ epilogue_theme_twitter }}" class="icon fa-twitter"></a>
      </li>
      <li>
        <a href="{{ epilogue_theme_pinterest }}" class="icon fa-instagram"></a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site_name }}</li>
      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
      <li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
    </ul>
  </div>
</footer>
